<!DOCTYPE html>

<html>

<head>

<title>WEBGIS GIÁM SÁT NƯỚC SÀI GÒN</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<script src="https://unpkg.com/leaflet-ant-path/dist/leaflet-ant-path.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-ant-path@1.3.0/dist/leaflet-ant-path.min.js"></script>

<script src="https://unpkg.com/georaster@1.5.1"></script>
<script src="https://unpkg.com/georaster-layer-for-leaflet@3.3.0"></script>
<style>

body{
margin:0;
}

#map{
height:100vh;
}

</style>

</head>

<body>

{% block content %}

{% endblock %}

</body>

</html>